[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lberserq
[access "refs/for/refs/*"]
	read = group user/lberserq
	push = group user/lberserq
	label-Code-Review = -2..+2 group user/lberserq
	label-Verified = -1..+1 group user/lberserq
	rebase = group user/lberserq
	removeReviewer = group user/lberserq
	submit = group user/lberserq
[access "refs/heads/*"]
	read = group user/lberserq
	create = group user/lberserq
	push = +force group user/lberserq
	pushMerge = group user/lberserq
[access "refs/tags/*"]
	push = +force group user/lberserq
	pushTag = group user/lberserq
	pushSignedTag = group user/lberserq
